{% extends "layout.html" %}
{% block title %}{{ gettext("Privacy Policy") }}{% endblock %}
{% block body %}
<div class="ui-wrapper ui-body">

  <div class="ui-section">

    <div class="ui-row">
      <h1>{{ gettext("Webmaker Privacy") }}</h1>
      <h3>{{ gettext("June 15, 2013") }}</h3>
      <p>{{ gettext("We care about your privacy") | instantiate | safe }}</p>

      <h2>{{ gettext("Things you should know") }}</h2>

      <ul>
        <li>{{ gettext("Data stored in your browser") }}
          <ul>
            <li>{{ gettext("Use of cookies") }}</li>
            <li>{{ gettext("Content embedded by others") }}</li>
          </ul>
        </li>
        <li>{{ gettext("Email subscribe and unsubscribe") }}</li>
        <li>{{ gettext("Your account is public") }}</li>
        <li>{{ gettext("Events management") }}</li>
      </ul>

      <hr>

      <h2>{{ gettext("Mozilla Privacy Policy") }}</h2>

      <p>{{ gettext("Transparency and opennes") }}</p>

      <h2>{{ gettext("What do we mean by personal information?") | safe }}</h2>

      <p>{{ gettext("User id info") | safe }}</p>
      <p>{{ gettext("User non-id info") | safe }}</p>
      <p>{{ gettext("Info storage and removal") }}</p>

      <h2>{{ gettext("How do we learn information about you?") }}</h2>
      <p>{{ gettext("We learn information about you when:") }}</p>

      <ul>
        <li>{{ gettext("you give it to us directly;") }}</li>
        <li>{{ gettext("through our products and services;") }}</li>
        <li>{{ gettext("from someone else") }}</li>
        <li>{{ gettext("analyzing available info") }}</li>
      </ul>

      <h2>{{ gettext("Handling user info") }}</h2>
      <p>{{ gettext("Ethical use of info") }}</p>

      <h2>{{ gettext("Sharing user info") }}</h2>

      <ul>
        <li>{{ gettext("When we have gotten your permission to share it.") }}</li>
        <li>{{ gettext("Processing or providing products and services") }}</li>
        <li>{{ gettext("Fulfilling the mission") | safe }}</li>
        <li>{{ gettext("When the law requires it") }}</li>
        <li>{{ gettext("To prevent harm") }}</li>
        <li>{{ gettext("Structure or status change") }}</li>
      </ul>

      <h2>{{ gettext("Info storage and protection") }}</h2>
      <p>{{ gettext("Various security measures") }}</p>

      <p>{{ gettext("Destruction of personal info") }}</p>

      <h2>{{ gettext("What else do we want you know?") }}</h2>
      <p>{{ gettext("Info travels globally") }}</p>

      <p>{{ gettext("Concerning minors") | safe }}</p>

      <h2>{{ gettext("What if we change this policy?") }}</h2>
      <p>{{ gettext("Policy change notification") }}</p>

    </div>
  </div>
</div>

{% endblock %}
