{% extends "layout.html" %}
{% block title %}{{ gettext("Terms of Use") }}{% endblock %}
{% block body %}
<div class="ui-wrapper ui-body">

  <div class="ui-section">

    <div class="ui-row">
      <h1>{{ gettext("Webmaker Terms") }}</h1>
      <h3>{{ gettext("June 15, 2013") }}</h3>
      <p>{{ gettext("To provide choice and innovation") }}</p>

      <p>{{ gettext("User subjection to terms") }}</p>

      <h2>{{ gettext("Eligibility") }}</h2>
      <p>{{ gettext("Use means agreement") }}</p>

      <h2>{{ gettext("Modifications to the Terms") }}</h2>
      <p>{{ gettext("Our right to change the Terms") }}</p>

      <h2>{{ gettext("Privacy") }}</h2>
      <p>{{ gettext("Personal info required") | instantiate | safe }}</p>

      <h2>{{ gettext("Your Submissions") }}</h2>
      <p>{{ gettext("Content embedding and uploading") }}</p>
      <p>{{ gettext("User submissions are public") }}</p>
      <p>{{ gettext("Promise of ethical use") }}</p>

      <h2>{{ gettext("User names") }}</h2>
      <p>{{ gettext("Username allowed") }}</p>
      <p>{{ gettext("Impersonation forbidden") }}</p>

      <h2>{{ gettext("Events") }}</h2>
      <p>{{ gettext("Meetings arrangement") }}</p>
      <p>{{ gettext("Meetings are users responsibility") }}</p>

      <h2>{{ gettext("Digital Millennium Copyright Act Notice") }}</h2>
      <p>{{ gettext("Copyright infringement discovered") | safe }}</p>
      <p>{{ gettext("All DMCA Notices should include the following:") }}</p>

      <ol>
        <li>{{ gettext("Owners signature") }}</li>
        <li>{{ gettext("Work ID") }}</li>
        <li>{{ gettext("Infringement description") }}</li>
        <li>{{ gettext("Owner contact info") }}</li>
        <li>{{ gettext("Owner statement") }}</li>
      </ol>

      <p>{{ gettext("Mozilla's Copyright Agent info") }}</p>

      <i>Office of the General Counsel<br>
        Mozilla Corporation<br>
        650 Castro Street, Suite 300<br>
        Mountain View, CA 94041<br>
        {{ gettext('Email:') }} dmcanotice at mozilla dot com<br>
        {{ gettext("Phone Number:") }} 650-903-0800<br>
        {{ gettext("Fax:") }} 650-903-0875
      </i>

      <p>{{ gettext("DMCA notice must be complete") }}</p>

      <p>{{ gettext("Infringer account termination") }}</p>

      <p>{{ gettext("Not just the US") }}</p>

      <p>{{ gettext("Agent's scope of work") }}</p>

      <p>{{ gettext("Notices may be made public") | safe}}</p>

      <h2>{{ gettext("Trademark Notices") }}</h2>
      <p>{{ gettext("Terms valid until terminated") }}</p>

      <p>{{ gettext("Unilateral end of agreement by user") }}</p>

      <p>{{ gettext("Unilateral end of agreement by Mozilla") }}</p>

      <p>{{ gettext("End of agreement entails") }}</p>

      <p>{{ gettext("End of services without notice") }}</p>

      <h2>{{ gettext("General Representation and Warranty") }}</h2>
      <p>{{ gettext("Promise to abide by the Terms") }}</p>

      <h2>{{ gettext("Release and Indemnification") }}</h2>
      <p>{{ gettext("User will not blame Mozilla for damages") }}</p>
      <p>{{ gettext("User will defend Mozilla") }}</p>

      <h2>{{ gettext("Disclaimer; Limitation of Liability") }}</h2>
      <p>{{ gettext("ALL CONTENT IS AS IS") | safe }}</p>
      <p>{{ gettext("MOZILLA IS NOT TO BLAME FOR CONTENT MISUSE") }}</p>
      <p>{{ gettext("SOME LIMITATIONS MAY NOT APPLY TO USER") }}</p>

      <h2>{{ gettext("Governing Law") }}</h2>
      <p>{{ gettext("Terms shall be governed by laws of California") }}</p>

      <h2>{{ gettext("Miscellaneous") }}</h2>
      <p>{{ gettext("Third party rights") }}</p>

    </div>
  </div>
</div>

{% endblock %}
